In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\xhen rii\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\xhen rii\appdata\local\programs\python\python313\lib\site-packages (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\xhen rii\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\xhen rii\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\xhen rii\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\xhen rii\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# sample locations
locations = [
    {"city": "Caloocan", "lat": 14.6561, "lon": 120.9830},
    {"city": "San Jose Bulacan", "lat": 15.1502, "lon": 120.9696},
    {"city": "Pasig", "lat": 14.5764, "lon": 121.0851},
    {"city": "Pasay", "lat": 14.5378, "lon": 121.0014},
    {"city": "Manila", "lat": 14.5995, "lon": 120.9842}
]

statuses = ['in transit', 'delivered', 'delayed']

data = []
num_records = 100  

for _ in range(num_records):
    loc = random.choice(locations)
    record = {
        "timestamp": datetime.now() - timedelta(minutes=np.random.randint(0, 1440)),
        "package_id": f"PKG{np.random.randint(1000, 9999)}",
        "city": loc["city"],
        "latitude": loc["lat"],
        "longitude": loc["lon"],
        "temperature_celsius": round(np.random.uniform(20.0, 30.0), 1),
        "status": random.choice(statuses)
    }
    data.append(record)

# convert to DataFrame
df = pd.DataFrame(data)

# display first few rows
df.head()

,timestamp,package_id,city,latitude,longitude,temperature_celsius,status
0,2025-05-27 07:12:06.833283,PKG9346,Caloocan,14.6561,120.9830,24.9,in transit
1,2025-05-27 08:58:06.834998,PKG4537,Pasig,14.5764,121.0851,28.6,delayed
2,2025-05-27 13:02:06.835083,PKG2640,Caloocan,14.6561,120.9830,28.7,delayed
3,2025-05-26 17:28:06.835105,PKG1173,Manila,14.5995,120.9842,22.7,delayed
4,2025-05-27 05:20:06.835125,PKG1784,San Jose Bulacan,15.1502,120.9696,28.8,delayed

In [2]:
# save the dataset as a CSV file
df.to_csv("iot_data.csv", index=False)
print("CSV file saved as iot_data.csv")

CSV file saved as iot_data.csv